@model IEnumerable<ProcureEaseAPI.Models.TelephoneNumbers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationSettings.OrganizationNameInFull)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationSettings.OrganizationNameInFull)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TelephoneNumberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TelephoneNumberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TelephoneNumberID })
        </td>
    </tr>
}

</table>
