@model ProcureEaseAPI.Models.SourceOfFunds

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SourceOfFunds</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceOfFund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceOfFund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableSourceOfFund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableSourceOfFund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SourceOfFundID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
